body{
    font-family: 'Lacquer', sans-serif;
    margin: 0;
}

section{
    height: 100vh;
}

.top-sec{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content-block{
    float: left;
    width: 40%;
    margin-left: 8%;
}

h1{
    font-size: 50px;
    line-height: 30px;
}

h2{
    font-size: 45px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 400;
    color: darkslategray;
}

.orange-highlight{
    color: orange;
}

p{
    color: gray;
    text-align: justify;
    padding-bottom: 20px;
}

.link-btn{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Lacquer', sans-serif;
    padding: 10px 30px;
    background-color: tomato;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.link-btn:hover{
    background-color: crimson;
}

.dp{
    margin-top: 50px;
    width: 100%;
}

.middle-sec{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.bottom-sec{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.exp-block{
    width: 90%;
    margin-left: 8%;
}

.exp-tile{
    background-color: white;
    float: left;
    width: 40%;
    text-align: center;
    margin-right: 5%;
    height: 70vh;
    padding: 20px;
    box-shadow: 10px 10px 40px darkslategray;
}

#king-dev{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, darkblue, cyan);
    border-image-slice: 1;
}

#baby-dev{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, darkblue, tomato);
    border-image-slice: 1;
}

footer{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: gray;
}


